$color-primary: #d35266;
$color-muted: #888;
$color-dark: #383838;
$color-map: (
  "primary": $color-primary,
  "muted": $color-muted,
  "dark": $color-dark
);

@each $name, $color in $color-map {
  .bg-#{$name} {
    background-color: $color;
  }
}
