.lh-1 {
  line-height: 1;
}

// font utilities
.fs-12 {
  font-size: 14px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-22 {
  font-size: 22px;
}

.font-gotham {
  font-family: "Gotham", sans-serif;
}

.font-helvetica {
  font-family: "Helvetica Neue", sans-serif;
}

.border-2 {
  border-width: 2px !important;
}

.rounded-2 {
  border-radius: 2px;
}

.overflow-x-scroll {
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
