@font-face {
  font-family: 'Gotham';
  font-weight: bold;
  src: url("../fonts/Gotham/Gotham-Bold.otf") format('opentype');
}

@font-face {
  font-family: 'Gotham Round';
  font-weight: lighter;
  src: url("../fonts/Gotham/GothamRnd-Light.otf") format('opentype');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: bold;
  src: url("../fonts/Helvetica/HelveticaNeueLTStd-Bd.otf") format('opentype');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 400;
  src: url("../fonts/Helvetica/HelveticaNeueLTStd-Roman.otf") format('opentype');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: lighter;
  src: url("../fonts/Helvetica/HelveticaNeueLTStd-Th.otf") format('opentype');
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  background: #eee;
}

.bg-primary {
  background-color: #d35266 !important;
}

.text-primary {
  color: #d35266 !important;
}

.text-primary:hover {
  color: #d35266 !important;
}

.btn-primary {
  color: #fff;
  border-color: #d0465b;
  background-color: #d35266;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  opacity: 0.9;
  color: #fff;
  border-color: #d0465b;
  background-color: #d35266;
}

.bg-muted {
  background-color: #888 !important;
}

.text-muted {
  color: #888 !important;
}

.text-muted:hover {
  color: #888 !important;
}

.btn-muted {
  color: #fff;
  border-color: gray;
  background-color: #888;
}

.btn-muted:active,
.btn-muted:focus,
.btn-muted:hover {
  opacity: 0.9;
  color: #fff;
  border-color: gray;
  background-color: #888;
}

.bg-dark {
  background-color: #383838 !important;
}

.text-dark {
  color: #383838 !important;
}

.text-dark:hover {
  color: #383838 !important;
}

.btn-dark {
  color: #fff;
  border-color: #303030;
  background-color: #383838;
}

.btn-dark:active,
.btn-dark:focus,
.btn-dark:hover {
  opacity: 0.9;
  color: #fff;
  border-color: #303030;
  background-color: #383838;
}

.lh-1 {
  line-height: 1;
}

.fs-12 {
  font-size: 14px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-22 {
  font-size: 22px;
}

.font-gotham {
  font-family: 'Gotham', sans-serif;
}

.font-helvetica {
  font-family: 'Helvetica Neue', sans-serif;
}

.border-2 {
  border-width: 2px !important;
}

.border-primary {
  border-color: #d35266 !important;
}

.rounded-2 {
  border-radius: 2px;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-x-scroll::-webkit-scrollbar {
  display: none;
}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.navbar-brand img {
  width: 160px;
}

.navbar .nav-item.active .nav-link {
  color: #d35266;
}

.navbar .user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dropup .dropdown-toggle::after {
  display: none;
}

.dropdown-item:active,
.dropdown-item:hover {
  color: #fff;
  background-color: #383838 !important;
}

.jumbotron {
  background-image: linear-gradient(135deg, #dd7b8a 40%, #d86678 40%);
}

.hot-ads a[class^='carousel-control'] {
  width: auto;
  padding: 0.75rem;
  border: 2px solid #1e080b;
  border-radius: 50%;
}

.row.less-gutters [class^='col'] {
  padding-right: 5px;
  padding-left: 5px;
}

@media (min-width: 768px) {
  .row.less-gutters [class^='col'] {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.search-result-card:hover .give-a-call {
  display: inline-block !important;
}

footer .footer-img {
  width: 160px;
}

/*# sourceMappingURL=style.css.map */
